/* Footer.module.css */
footer {
    background-color: #112e40;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #1ec984;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .social-icons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px; /* Asegura la separación entre los iconos */
}

footer .social-icons a {
    margin-right: 20px;
}

footer .social-icons a:last-child {
    margin-right: 0; /* Asegura que el último elemento no tenga margen extra */
}

footer .social-icons a img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
}

footer .social-icons a:hover img {
    transform: scale(1.1);
}

footer .contact-info {
    margin-top: 10px;
    font-size: 12px;
    color: #1ec984;
}

footer .contact-info a {
    color: #1ec984;
    text-decoration: none;
}

footer .contact-info a:hover {
    text-decoration: underline;
}


