h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #c7d2d9;
}

.logo {
    width: 100px; /* Ajusta el tamaño del logo */
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav li {
    cursor: pointer;
    font-size: 18px;
    color: #112e40;
}

.nav li:hover {
    color: #1ec984;
}

.nav .active {
    color: #1ec984;
    font-weight: bold; /* Puedes ajustar para destacar más la sección activa */
}


.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    color: white;
    padding: 20px;
    background: linear-gradient(to right, #112e40 50%, rgba(0, 0, 0, 0.5)), url('./banner.jpg');
    background-size: cover;
    background-position: center;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    padding: 20px;
}

.imageContainer {
    flex: 1;
    display: none; /* Ocultamos imageContainer porque ahora la imagen está en el background */
}

.overlay h1 {
    font-size: 50px;
    margin: 0;
    color: #1ec984;
}

.overlay p {
    font-size: 18px;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #112e40;
    background-color: #1ec984;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s ease; /* Añadido para animación suave */
}

.button:hover {
    background-color: #17a673;
    color: white;
    transform: scale(1.1); /* Aumenta el tamaño del botón */
}

@media (max-width: 768px) {
    .topBar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .banner {
        flex-direction: column;
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .textContainer {
        padding: 10px;
    }

    .overlay h1 {
        font-size: 32px;
    }

    .overlay p {
        font-size: 16px;
    }
}



