/* src/components/styles/App.module.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #c7d2d9;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

a {
    font-family: 'Open Sans', sans-serif;
}

.App {
    /* font-family: 'Arial', sans-serif; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c7d2d9;
    min-height: 100vh;
}

/* App.module.css */
.catalog-description-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.product-catalog, .product-description {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

